@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --font: 'Varela Round', sans-serif;
    --color1: #b1ffe2;
    --color2: #f8f8ff;
    --color3: #202020;
}

::-webkit-scrollbar {
    width: 0px;
}

/* 
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

.page {
    background-color: var(--color1);
    width: 100vw;
    height: 100vh;
}

.section_1 {
    width: inherit;
    height: inherit;
    background-image: linear-gradient(to bottom, var(--color1) 50%, var(--color2));
    background-repeat: no-repeat;
    animation-name: section_1BG;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    /* background-attachment: fixed; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_1 > .inner {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: inherit;
    z-index: 2;
}

.section_1 > .inner > * {
    flex: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_1 > .inner > .left > img {
    opacity: 0%;
    animation-name: fadeInBottom;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.section_1 > .logoText {
    text-shadow: #14b393bf 0px 0px 15px;
    color: var(--color2);
    font-size: 18vw;
    font-family: var(--font);
    letter-spacing: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation-name: zyxma-text;
    animation-duration: 2s;
    position: fixed;
    z-index: 1;
}

.section_1 > .inner > .right > div {
    opacity: 0%;
    animation-name: fadeInRight;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.section_2 {
    width: inherit;
    height: inherit;
    background-color: var(--color2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/* .section_2 div {
    width: 50px;
    height: 50px;
    background-color: var(--color3);
    box-shadow: 3px 3px 15px 5px #2020207f;
    border-radius: 25px;
    transition: .5s;
}

.section_2 div:hover {
    width: 200px;
    height: 300px;
    background-color: var(--color3);
    box-shadow: 3px 3px 15px 5px #2020207f;
    border-radius: 20px;
    cursor: pointer;
} */

@keyframes fadeInBottom {
    from {
        opacity: 0%;
        transform: translateY(100px);
    }

    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0%;
        transform: translateX(100px);
    }

    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}

@keyframes zyxma-text {
    from {
        opacity: 0%;
        letter-spacing: 0em;
    }

    to {
        opacity: 100%;
        letter-spacing: 0.25em;
    }
}

@keyframes section_1BG {
    from {
        background-position-y: 50vh;
    }

    to {
        background-position-y: 0vh;
    }
}