@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

:root {
    --font: 'Varela Round', sans-serif;
    --color1: #242131;
    --color2: #3b3452;
    --color3: #202020;
}

body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 10px;
    /* display: none; */
    background: transparent;
}


::-webkit-scrollbar-track {
    background: transparent;
}


::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.4);
}

.page {
    background-color: var(--color1);
    width: 100vw;
    height: 100vh;
}

.section_1 {
    width: inherit;
    height: inherit;
    background-image: linear-gradient(to bottom, var(--color1) 50%, var(--color2));
    background-repeat: no-repeat;
    animation-name: section_1BG;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    overflow: hidden;

    display: flex;
    align-items: center;
}

.section_1 > .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    top: 0px;
    padding: 20px 0;
    position: fixed;
    background-image: linear-gradient(to bottom, var(--color1), #0000);
    
    z-index: 5;
}

.section_1 > .content {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section_1 .content > .bgText {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16rem;
    background: linear-gradient(to right, #d0d2e4 0%, #a487e9 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    -webkit-user-select: none;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0%;
    letter-spacing: 0;
    animation: zyxma-text 3s forwards;
}

.section_1 .content > .myPic {
    width: 400px;
    height: 400px;
    background-image: linear-gradient(135deg, #7a66a5, #4c3e6b);
    border-radius: 200px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section_1 .content > .myPic > img {
    height: inherit;
}

.section_1 .content > .mySocial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_1 > .navbar > div {
    color: ghostwhite;
    /* width: 60px;
    height: 30px;
    background-color: #202020; */
}

.section_2 {
    width: inherit;
    height: inherit;
    background-color: var(--color2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

@keyframes fadeInBottom {
    from {
        opacity: 0%;
        transform: translateY(100px);
    }

    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0%;
        transform: translateX(100px);
    }

    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}

@keyframes zyxma-text {
    from {
        opacity: 0%;
        letter-spacing: 0;
    }

    to {
        opacity: 100%;
        letter-spacing: 1rem;
    }
}

@keyframes section_1BG {
    from {
        background-position-y: 50vh;
    }

    to {
        background-position-y: 0vh;
    }
}

@media (max-width: 1000px) {

    .section_1 > .content {
        flex-direction: column;
        justify-content: center;
    }

    .section_1 .content > .myPic {
        display: none;
    }

    .section_1 .content > .mySocial {
        flex-direction: row;
    }
}

@media (max-width: 800px) {
    .section_1 .content > .bgText {
        font-size: 32vw;
    }
}