.container {
    width: 55px;
    height: 30px;
    box-sizing: border-box;

    border-radius: 15px;

    display: flex;
    align-items: center;

    box-shadow: #00000050 0px 0px 10px 0px;
}

.switch:hover {
    cursor: pointer;
}

.container > .switch {
    width: 26px;
    height: 26px;
    box-sizing: border-box;

    border-radius: 13px;

    margin: 2px;
    
    transition: .25s;
}