.container {
    width: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.container > div {
    /* background-image: linear-gradient(135deg, #fefefe, #fff); */
    border-radius: 15px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    box-shadow: #0005 0px 0px 10px 0px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: .5s;
}

.container > div > .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > div > .btn > svg {
    margin: 10px 0;
    transition: .25s;
}

.container > div > div svg:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.container > div > div svg:active {
    transform: scale(0.8);
    cursor: pointer;
}

.tooltip, .btn:hover > .tooltip:hover {
    visibility: hidden;
    opacity: 0%;
    width: 100px;
    position: absolute;
    transform: translateX(50px);
    background-color: #fffe;
    border-radius: 7px;
    padding: 5px 10px;
    transition: .25s;
}

.btn:hover > .tooltip {
    visibility: visible;
    opacity: 100%;
    transform: translateX(90px);
}