.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2em
}

.container > * {
}

/* @media (max-width: 800px) {
    .container {
        justify-content: center;
    }
} */