/* .moon {
    width:100px;
    height:100px;
    border-radius: 50px;
    background-color: #ffff6e;
    overflow: hidden;
} */

.moonDark1 {
    width:50px;
    height:100px;
    border-radius: 50px 0 0 50px;
    background-color: black;
    display: inline-block;
}

.moonDark2 {
    width: 50px;
    height: 100px;
    border-radius: 0 100% 100% 0;
    background-color: black;
    display: inline-block;
}

.moonLight {
    float: right;
    width: 0px;
    height: 100px;
    border-radius: 100% 0 0 100%;
    background-color: #ffff6e;
    display: block;
}

.moon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    transition: .3s;
}

.moon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.moon:active {
    transform: scale(0.9);
    cursor: pointer;
}

.lightMoon {
    width: 50px;
    height: 100px;
    border-radius: 0 100% 100% 0;
    display: inline-block;
}

.darkMoon {
    width: 0px;
    height: 100px;
    border-radius: 100% 0 0 100%;
    background-color: black;
    display: block;
    float: right;
}

