.wide {
    /* background-color: #acacac; */
    /* border: 1px solid; */
    width: 300px;
    height: 230px;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon {
    /* background-color: #acacac; */
    /* border: 1px solid; */
    width: 230px;
    height: 230px;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon div {
    /* background-color: #acacac; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    /* background-color: #acacac; */
    /* border: 1px solid; */
    width: 240px;
    height: 240px;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box div {
    /* background-color: #acacac; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}