.container {
    /* height: 70px; */
    /* margin: 2vw; */
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    transition: .25s;
    box-shadow: #00000044 6px 6px 10px 1px;
}

.container div {
    flex: 230px;
}

.container:hover {
    filter: saturate(1.5);
    transform: scale(1.05);
    cursor: pointer;
}

.container:active {
    transform: scale(0.95);
}

.container img {
    transition: .25s;
}

.container:hover img {
    transform: scale(1.2);
}

.container:active img {
    transform: scale(0.8);
}

.tooltiptext,.box:hover .tooltiptext:hover {
    visibility: hidden;
    opacity: 0%;
    font-size: 0.75em;
    position: absolute;
    color: white;
    background-color: #0007;
    padding: 1px 3px;
    border-radius: 5px;
    transform: translateY(-40px);
    transition: 0.25s;
    z-index: 2;
}

.box:hover .tooltiptext {
    visibility: visible;
    transform: translateY(-48px);
    opacity: 100%;
    transition: .25s;
}