.shortcut {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    transition: .25s;
    box-shadow: #00000044 6px 6px 10px 1px;
    cursor: pointer;
}

.tooltiptext {
    opacity: 0%;
    font-size: 0.75em;
    position: absolute;
    color: white;
    background-color: #0007;
    padding: 1px 3px;
    border-radius: 5px;
    -webkit-user-select: none;
    user-select: none;
    z-index: 3;
}