.flexContainer {
    padding: 1vw;
    display: flex;
    flex-wrap: nowrap;
}

.textShadowUi {
    margin: 10px 0 10px 4vw;
}

.textDecorationUi {
    display: inline-flex;
    flex-direction: column;
}

.css_terminal, .html_terminal{
    margin-left: 1vw;
    background-color: #dddddd;
    display: inline-block;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.terminalLabel {
    padding: 10px;
}

.terminal-label span {
    color: #505050;
    font-family: Arial, Helvetica, sans-serif;
}

.css_output, .html_output {
    color: #fff;
    background-color: #505050;
    padding: 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.preview {
    display: inline-block;
    text-align: center;
    width: 85%;
    height: 300px;
    overflow: auto;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
}

.previewLabel {
    padding: 10px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
}

.previewBox {
    padding: 20px;
    overflow: hidden;
}

.previewText {
    margin: 15px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 955px) {
    .flexContainer {
        flex-direction: column-reverse;
    }
}